@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  background:peachpuff;
  color: #3a3a3a;
  width: 450px;
  height:200px;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
label, input{
	cursor: pointer;
}
h2,h3,h4,h5{
	font-weight: 600;
	line-height: 1.3;
	color: #1f2949;
  text-align: center;
  margin-top: 10px;
}
h2{
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
	font-weight: 400;
}
img{
	max-width: 100%;
	display: block;
}
.title{
  text-align: center;
}

.container {
  padding: 0 15px;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.top-text-wrapper {
	margin: 20px 0 30px 0;
}
.top-text-wrapper h4{
	font-size: 24px;
  margin-bottom: 10px;
}
.top-text-wrapper code{
  font-size: .85em;
  background: linear-gradient(90deg,#fce3ec,#ffe8cc);
  color: #ff2200;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
.tab-section-wrapper{
  padding: 30px 0;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
	position: relative;
  margin-top: 15px;
}

.select-box .options-container {
  max-height: 0;
  width: calc( 100% - 12px);
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #dcdfe5;
  background-color: #ffffff;
  order: 1;
	position: absolute;
	top: 68px;
}

.selected {
  background: #2f3640;
  position: relative;
  width: 388px;
  height: 64px;
  border-radius: 5px;
  border: solid 1px #dcdfe5;
  background-color: #ffffff;
  order: 0;
}

.selected::after {
	/* Font Awesome	 */
	content: "\f078";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	/* BG Img	 */
 	content:  url("img/arrow-down.svg");	
	position: absolute;
	right: 15px;
	top: 50%;
	transition: transform .5s;
	transform: translateY(-50%);
}


.selected h3, .select-box label h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #1f2949;
}
.selected h5, .select-box label h5{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.83;
  color: #81878f;
} 

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: translateY(-50%) rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  background: #81878f;
  background: #f1f2f3;
  border-radius: 0 5px 5px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  background: #81878f;
  border-radius: 0 5px 5px 0;
}
.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #dcdfe5;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
#icon-arrow{
  float: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button{
  text-align: center;
}

